<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated rmm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="rmm.presentation.RmmModelWizardID"
            name="%_UI_RmmModelWizard_label"
            class="rmm.presentation.RmmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RmmModelFile.gif">
         <description>%_UI_RmmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated rmm -->
      <editor
            id="rmm.presentation.RmmEditorID"
            name="%_UI_RmmEditor_label"
            icon="icons/full/obj16/RmmModelFile.gif"
            extensions="rmm"
            class="rmm.presentation.RmmEditor"
            contributorClass="rmm.presentation.RmmActionBarContributor">
      </editor>
   </extension>

</plugin>
