<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated reermm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="reer.presentation.ReerModelWizardID"
            name="%_UI_ReerModelWizard_label"
            class="reer.presentation.ReerModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ReerModelFile.gif">
         <description>%_UI_ReerModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated reermm -->
      <editor
            id="reer.presentation.ReerEditorID"
            name="%_UI_ReerEditor_label"
            icon="icons/full/obj16/ReerModelFile.gif"
            extensions="reer"
            class="reer.presentation.ReerEditor"
            contributorClass="reer.presentation.ReerActionBarContributor">
      </editor>
   </extension>

</plugin>
